@font-face {
    font-family: Hanoded;
    src: url(FuturaLightOblique.ttf);
}
@font-face{
	font-family: Nunito;
	src: url(Nunito-Regular.ttf);
}
body
{
	background: url("../images/valores.png"), white;
	font-family: Hanoded;	
	font-size: 18px;
}
body header
{
	background: url("../images/logo.png") no-repeat, rgba(224,224,224,0.8);
	background-size: 73px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	left: 0;
	margin-bottom: 1em;
	min-height: 76px;
	position: absolute;
	text-align: right;
	top: 0;
	width: 100%;
}
body footer
{
	bottom: 0px;
	position: fixed;
}
.username
{
	font-size: 1.8em;
	margin-right: 2em;
}
.logout
{
	color: #26a3da;
	font-size: 1.3em;
	margin-right: 2em;
}
.logout:hover
{
	cursor: pointer;
	text-decoration: underline;
}
.span1 {	width: 10%;		}
.span2 {	width: 20%;		}
.span3 {	width: 30%;		}
.span4 {	width: 40%;		}
.span5 {	width: 50%;		}
.span6 {	width: 60%;		}
.span7 {	width: 70%;		}
.span8 {	width: 80%;		}
.span9 {	width: 90%;		}
.span10 {	width: 100%;	}






#Seccion
{
	background: white;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-size: 1.4em;
	height: 40px;
	left: 0;
	position: absolute;
	top: 78px;
	width: 100%;
}
#Seccion div
{
	display: inline-block;
	height: auto;
}
#Seccion_conf
{
	width: 79%;
}
#Seccion_menu
{
	border-left-style: solid;
	border-left-width: 2px;
	cursor: pointer;
}
.Seccion
{
	background: rgba(224,224,224,0.7);
	display: none;
	margin: 20px;
	padding: 1px;
	position: relative;
	top:122px;
	font-family: Nunito;
	font-size: 16px;
	font-weight: normal;
}
#menu
{
	vertical-align: top;
	z-index: 1;
}
.botonMenu
{
	background-color: rgba(125,205,64,0.9);
	box-shadow: 5px 5px 1px #888888;
	display: inline-block;
	font-weight: bold;
	margin: 1em;
	min-height: 150px;
	min-width: 200px;
	padding: 5px;
	width: 20%;
}
.botonMenu:hover
{
	background: rgba(255, 72, 66,0.9);;
	cursor: pointer;
}
.botonMenu_Espacio
{
	height: 110px;
}
.botonMenu_Texto
{
	text-align: right;
}
.botonMenu_Imagen 
{
	/*background: url("flatIcons/123/svg/magnifier5.svg"), red;
	background-size: 4em;
	height: 4em;
	width: 4em;*/
}
.botonMenu_Imagen img
{
	width: 4em;
}
	.menuDialog
	{
		margin: 0;
		position: absolute;
		right: 0;
		top: 118px;
		width: 420px;
	}
	.menuDialog .botonMenu
	{
		margin: 5px;
		min-height: 80px;
		min-width: 97%;
		padding: 2px;
		vertical-align: top;
	}
	.menuDialog .botonMenu div
	{
		vertical-align: middle;
		display: inline-block;
		margin: 0;
	}

	.menuDialog .botonMenu_Espacio
	{
		display: none;
	}

.controls
{
	margin: 3px 0;
	vertical-align: middle;
}
.controls div
{
	display: inline-block;
	vertical-align: text-top;
}
.controls .labelControl
{
	font-family: Nunito;
	font-size: 14px;
	margin-left: 1em;
	margin-right: 4em;
	text-align: right;
	width: 20%;
}
.controls .inputControl
{
	width: 70%;
}
.controls .input
{
	border-color: #dddddd;
	border-style: solid;
	
	border-width: 1px;
	min-height: 1.9em; 
}
.controls select
{
	min-height: 2.6em;
}
.spanIcon
{
	border: none;
	margin: 0;
	min-height: 1.6em; 
	text-align: center;
}
.actions
{
	margin-right: 20%;
	text-align: right;
	width: auto;
}
.btn
{
	background: #e8e8e8;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 5px 1px #888888;
	cursor: pointer;
	font-weight: bold;
	margin: 2px;
	min-height: 2.5em;
	min-width: 15%;
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.btn:hover
{
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.actions .btn
{
	font-size: 1.1em;
	min-height: 4em;
	min-width: 25%;
}
[required]
{
	border-color: rgba(255,0,0, 0.8);
}


@media all and (max-width: 800px) {
	.botonMenu
	{
		background: red;
		margin: 5px;
		min-height: 80px;
		min-width: 97%;
		padding: 2px;
		vertical-align: top;
	}
	.botonMenu div
	{
		vertical-align: middle;
		display: inline-block;
		margin: 0;
	}

	.botonMenu_Espacio, #Seccion_menu span
	{
		display: none;
	}

	.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10
	{
		width: 100%;
	}
	.btn
	{
		min-height: 2em;
		min-width: 100%;
	}
	.actions .btn
	{
		font-size: 1em;
		min-height: 3em;
		min-width: 100%;
	}
	
}
.primary {	background: #2fade7;	color:white;}
.info {	background: #22c0cb;	color:white;}
.success {	background: #87bb33;	color:white;}
.warning {	background: #fb9800;	color:white;}
.danger {	background: #dc5d3a;	color:white;}
.inverse {	background: #484848;	color:white;}
.link {	color: #558bcc;	}

#NuevoActivo form
{
	margin: 1em auto;
	width: auto;
}
.ui-datepicker
{
	font-size: 12px;
}
.ui-datepicker-header
{
	width: 100%;
}
.ui-datepicker-title
{
	width: 70%;
}
.ui-datepicker select
{
	font-size: 12px;
	max-height: 8px;
}
.noMostrar
{
	display: none;
}
.mensajes
{
	/*background: rgba(0,0,255,0.7);*/
	background: rgb(181,189,200); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNiNWJkYzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzNiUiIHN0b3AtY29sb3I9IiM4MjhjOTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjgzNDNiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	border-style: solid;
	border-width: 4px;
	border-color: white;
	border-radius: 12px;
	box-shadow: 3px 3px 1px #888888;
	color: white;
	display: none;
	min-height: 100px;
	padding: 0.5em;
	position: fixed;
	top: 30px;
	right: 80px;
	width: 260px;
	z-index: 2;
}
.mensajes a
{
	background: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 1em;
	box-shadow: 1px 1px 1px #888888;
	padding-top: 1px;
	padding-bottom: 3px;
	padding-right: 8px;
	padding-left: 8px;
	position: absolute;
	right: 10px;
}
.mensajes a:hover
{
	background: gray;
	cursor: pointer;
}
.dataTable
{
	background: white;
	border-radius: 1em;
	cursor: pointer;
	font-size: 14px;

}
.dataTable thead
{
	background: #dddddd;
  	color: #666666;
	font-size: 16px;
}
.dataTable thead tr
{
	height: 3em;
}
.dataTable tbody tr
{
	background: white;
	height: 2.5em;
}
.dataTable tbody td
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dddddd;
}
.dataTable tbody tr.even
{
	background: #f9f9f9;
}
.dataTable tbody tr:hover
{
	background: #22C0CB;	
	color:white;
}
.column-filter-widget
{
  width: 15%;
  min-width: 205px;
}
.column-filter-widget select
{
  width: 100%
}
.column-filter-widget select:hover
{
	cursor: pointer;
}
.ColVis
{
  width: 100%;
}
.DTTT_container
{
  margin-right: 100%;
  width: 50%;
}
.dataTables_filter
{
  margin-bottom: 1em;
}
.dataTables_filter input
{
	height: 2em;
}
.dataTables_length
{
	margin-top: 1em;
}
#DetallesActivo_Panel
{
	min-width: 140px;
	width: 20%;
}