/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/
body{
	background:#fff;
	font-family: 'Open Sans', sans-serif;

}

body a,form li,input[type="submit"],input[type="text"],.sixth-login input[type="submit"],.third-login input[type="submit"]{
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}
body
{
	background: url(../images/bright.png) repeat;
}
.login-form{
	background: url(../images/bright.png) repeat;
	padding:2em 0;
}
.first-login,.second-login,.fourth-login,.fifth-login,.sixth-login,.seventh-login,.eight-login,.nineth-login,.third-login{
	width: 30%;
	margin:0 auto;
}
.login-02 {
	background: url(../images/xv.png)repeat;
	padding: 3em 0;
}
.first-login form {
	padding:18% 2.9em;
}
.first-login form li{
	border: none;
	list-style: none;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid rgba(238, 238, 238, 0.48);
	border-top-right-radius: 0.3em;
	-webkit-border-top-right-radius: 0.3em;
	-o-border-top-right-radius: 0.3em;
	-moz-border-top-right-radius: 0.3em;
	border-top-left-radius: 0.3em;
	-o-	border-top-left-radius: 0.3em;
	-moz-border-top-left-radius: 0.3em;
	-webkit-border-top-left-radius: 0.3em;
	border-left: 4px solid#fff;
}
.first-login form li:hover{
border-left: 4px solid#e67469;
}
.first-login form li.pw{
	border-radius: 0;
	border-bottom-right-radius: 0.3em;
	-o-border-bottom-right-radius: 0.3em;
	-moz-border-bottom-right-radius: 0.3em;
	-webkit-border-bottom-right-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	-o-border-bottom-left-radius: 0.3em;
	-moz-border-bottom-left-radius: 0.3em;
	-webkit-border-bottom-left-radius: 0.3em;
}
.icon{
	height:30px;
	width:30px;
	display: block;
	float:left;
	margin:21px 1px 0px 12px;
}
.user{
	background: url(../images/icons.png) no-repeat 2px 1px;
	
}
.lock{
	background: url(../images/icons.png) no-repeat 4px -53px;
}
.first-login input[type="text"],.first-login input[type="password"] {
	width:55%;
	padding:1.4em 0.7em 1.4em 1.7em;
	color:#858282;
	font-size:15px;
	outline: none;
	background: none;
	border:none;
	-webkit-appearance: none;
	font-weight:600;
	font-family: 'PT Sans', sans-serif;
	}
.first-login input[type="password"] {
	font-weight:400;
	color: #b6b0a7;
}	
.first-login input[type="submit"]{
	font-size:18px;
	font-weight:700;
	color: #fff;
	display: inline-block;
	outline: none;
	padding: 1.2em 4em;
	width:100%;
	font-family: 'PT Sans', sans-serif;
	border:none;
	cursor: pointer;
	-webkit-appearance: none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-o-	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	text-align: left;
	background: url(../images/icons.png) no-repeat 20px -83px #e67469;
}
.first-login input[type="submit"]:hover{
	background: url(../images/icons.png) no-repeat 20px -83px #D65A4E;
}
.submit {
margin-top: 1.2em;
}
/**Second-login**/
form.two {
	padding:18% 2.9em;
}
form.two li{
	border: none;
	list-style: none;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #EAE2E2;
}
form.two li:hover{
}
.icons{
	height: 49px;
	width: 52px;
	display: block;
	float: left;
	margin: 3px 0px 0px 1px;
}
.user1{
	background: url(../images/icons2.png) no-repeat -9px -10px;
	
}
.lock1{
	background: url(../images/icons2.png) no-repeat -9px -89px;
}
.second-login input[type="text"],.second-login input[type="password"] {
	width:55%;
	padding: 0.7em 0.7em 0.7em 1em;
	color:#4e4e4e;
	font-size:18px;
	outline: none;
	background: none;
	border:none;
	-webkit-appearance: none;
	font-weight:400;
	font-family: 'Oswald', sans-serif;
	}
.second-login input[type="submit"]{
	font-size:18px;
	font-weight:600;
	color:  #4e4e4e;
	display: inline-block;
	outline: none;
	padding: 0.8em 4em;
	width:100%;
	font-family: 'Oswald', sans-serif;
	border:none;
	cursor: pointer;
	-webkit-appearance: none;
	text-align: left;
	background: url(../images/icons2.png) no-repeat -7px -165px #fff;
	border-bottom: 1px solid #EAE2E2;

}
.second-login input[type="submit"]:hover{
}
/**fourth-login**/
form.four {
	padding:18% 2.9em;
}
.login-04 {
	background: #eac85d;
	text-align: center;
}
.green{
	padding:1.8em 0em;
	background:#4daf7c;
}
.block{
	padding: 1.8em 0em;
	background:url(../images/tips.png) no-repeat 178px 0px #404141;
}
.fourth-login input[type="text"]{
	border: 1px solid #fff;
	padding: 0.5em 0.5em 0.5em 0.5em;
	color:#fff;
	font-size:20px;
	outline: none;
	background: none;
	-webkit-appearance: none;
	font-weight:400;
	font-family: 'Oswald', sans-serif;
	width: 78%;
	text-align: center;
	}
.fourth-login input[type="password"] {
	border: 1px solid #fff;
	padding: 0.5em 0.5em 0.5em 0.5em;
	color:#fff;
	font-size:20px;
	outline: none;
	background: none;
	-webkit-appearance: none;
	font-weight:400;
	font-family: 'Oswald', sans-serif;
	outline: none;
	width: 78%;
	text-align: center;
}
.fourth-login input[type="submit"]{
	font-size:30px;
	font-weight: 600;
	color: #fff;
	display: inline-block;
	padding: 0.8em 4em;
	width: 100%;
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	border: none;
	outline: none;
	background: url(../images/tip1.png) no-repeat 178px -1px #eac85d;

}
.fourth-login input[type="submit"]:hover{
background: url(../images/tip1.png) no-repeat 178px -1px #4daf7c;
}
/*******/
.login-05{
	background: url(../images/old.png)repeat;
	padding: 6em 0;
}
.fifth-login{
	background: #f6f8f7;
	text-align: center;
	border-radius: 0.8em;
	-o-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	-moz-border-radius: 0.8em;
}
.fifth-login h2{
	font-size: 1.2em;
	color: #646464;
	font-family: 'PT Sans', sans-serif;
	padding-top:1em;
}
form.five {
	padding:5% 0 0% 0;
}
form.five li,li.blue{
	list-style: none;
	width: 100%;
	background: #97ce68;
	border:none;
	-moz-box-shadow: inset 0 4px 8px #95B679;
	-webkit-box-shadow: inset 0 4px 8px #95B679;
	box-shadow: inset 0 4px 8px #95B679;
}
form.five li.blue{
	background: #6bcbca;
	-moz-box-shadow: inset 0 4px 8px #54A6A5;
	-webkit-box-shadow: inset 0 4px 8px #54A6A5;
	box-shadow: inset 0 4px 8px #54A6A5;
	margin-top: 0.8em;
}
.icon5{
	height:30px;
	width:30px;
	display: block;
	float: left;
	margin:12px 0px 0px 1px;
}
.user2{
	background: url(../images/icons5.png) no-repeat 6px 9px;
	
}
.lock2{
	background: url(../images/icons5.png) no-repeat 8px -18px;
}
.fifth-login input[type="text"],.fifth-login input[type="password"] {
	width:85%;
	padding: 1em 0.7em 1em 1em;
	color:#fff;
	font-size:18px;
	outline: none;
	background: none;
	border:none;
	-webkit-appearance: none;
	font-weight:400;
	font-family: 'PT Sans', sans-serif;
}
.submit-five{
	margin-top:0.8em;
}
.fifth-login input[type="submit"]{
	font-size:20px;
	font-weight: 600;
	color: #fff;
	display: inline-block;
	padding:1em 0em;
	width: 100%;
	font-family: 'PT Sans', sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	border: none;
	outline: none;
	background:#ff6766;
	-moz-box-shadow: inset 0 4px 8px #D05857;
	-webkit-box-shadow: inset 0 4px 8px #D05857;
	box-shadow: inset 0 4px 8px #D05857;
	border-bottom-right-radius:0.65em;  
	-o-border-bottom-right-radius:0.65em;  
	-moz-border-bottom-right-radius:0.65em;  
	-webkit-border-bottom-right-radius:0.65em;  
	border-bottom-left-radius:0.65em; 
	-o-border-bottom-left-radius:0.65em; 
	-moz-border-bottom-left-radius:0.65em; 
	-webkit-border-bottom-left-radius:0.65em;  

}
.fifth-login input[type="submit"]:hover{
	background: #FD4A49;
}
/**sixth-login**/
form.six {
	padding:18% 2.9em;
}
.login-06 {
	background: #262626;
	text-align: center;
}
.light-b{
	padding: 1em 0em;
	background:#1fbba6;
	border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
}
.dark-o{
	padding: 1em 0em;
	background:#e96638;
	margin:1em 0;
	border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
}
.light-b p,.dark-o p {
color: #fff;
font-size: 16px;
padding-bottom: 10px;
}
.icons6{
	height:30px;
	width:30px;
	display: block;
	float: left;
	margin:5px 0px 0px 1px;
}
.user6{
	background: url(../images/icon6.png) no-repeat 10px 9px;
	
}
.lock6{
	background: url(../images/icon6.png) no-repeat 10px -85px;
}
form.six li{
	list-style: none;
	background: #fff;
	width:90%;
	margin: 0 auto;
}
.sixth-login input[type="text"],.dark-o input[type="password"]{
border: 1px solid #fff;
padding: 0.5em 0.5em 0.5em 0.5em;
color: #999;
font-size: 20px;
outline: none;
background: none;
-webkit-appearance: none;
font-weight:300;
width: 76%;
text-align: left;
background: none;
border-left: 1px solid #ddd;
	}
.sixth-login input[type="submit"]{
	font-size:18px;
	font-weight:400;
	color: #808080;
	display: inline-block;
	padding: 0.8em 0em;
	width: 100%;
	cursor: pointer;
	-webkit-appearance: none;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;

}
.sixth-login input[type="submit"]:hover{
background: #1fbba6;
color: #fff;
}
/**--seventh-----**/
.login-07{
	background: url(../images/bg-7.jpg) repeat;
	padding: 5em 0;
}
.seventh-login h3{
	color:#625E5E;
	font-weight: 400;
	font-size: 1.6em;
	text-align: left;
	font-family: 'Oswald', sans-serif;
	padding-bottom: 1em;
}
.seventh-login input[type=text],.seventh-login input[type=password] {
	float:left;
	width:76%;
	padding: 1em 2em 1em 1em;
	border:none;
	color: #b8b8b8;
	font-size:15px;
	float: left;
	outline: none;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
}
form.seven li{
	display: block;
	color: #4D4949;
	border: 1px solid #D6D0D0;
	margin-bottom: 10px;
	background: #f7f7f7;
}
.seventh-login {
background: #f7f7f7;
padding: 3em 2em 5em 2em;
border: 15px solid#0e98b8;
}
.icon8
{
	height:7px;
	width:7px;
	display: block;
	float: right;
	margin: 23px 23px 3px 8px;
}
.star,.into{
	background:url(../images/star.png)no-repeat 0px 0px;
}
.seventh-login input[type="submit"] {
font-size: 25px;
font-weight: 600;
color: #fff;
display: inline-block;
padding: 0.7em 0em;
width: 100%;
font-family: 'Oswald', sans-serif;
cursor: pointer;
-webkit-appearance: none;
border: none;
outline: none;
background:#14b9d6;
}
.seventh-login input[type="submit"]:hover{
	background:#0e9db6;
}
/*----eight-login---*/
.login-08{
	background: url(../images/bg8.jpg)no-repeat 0px 0px;
	padding: 7em 0;
}
.eight-login input[type=text] {
	width:85%;
	padding: 1em 2em 1em 1em;
	border:none;
	color: #878282;
	font-size: 18px;
	float: left;
	outline: none;
	font-weight: 400;
	border-top-right-radius:0.65em;  
	-o-border-top-right-radius:0.65em;  
	-moz-border-top-right-radius:0.65em;  
	-webkit-border-top-right-radius:0.65em;  
	border-top-left-radius:0.65em; 
	-o-border-top-left-radius:0.65em; 
	-moz-border-top-left-radius:0.65em; 
	-webkit-border-top-left-radius:0.65em;  
}
.eight-login input[type=password] {
	width:85%;
	padding: 1.2em 2em 1.2em 1em;
	border:none;
	color: #878282;
	font-size: 18px;
	float: left;
	outline: none;
	font-weight: 400;
	margin:1px 0;
}
.eight-login input[type="submit"] {
font-size: 20px;
font-weight: 400;
color: #fff;
display: inline-block;
padding:1em 1em;
width: 96.55%;
cursor: pointer;
-webkit-appearance: none;
border: none;
margin-top: 1px;
outline: none;
background: #f35b5b;
border-bottom-right-radius:0.65em;  
-o-border-bottom-right-radius:0.65em;  
-moz-border-bottom-right-radius:0.65em;  
-webkit-border-bottom-right-radius:0.65em;  
border-bottom-left-radius:0.65em; 
-o-border-bottom-left-radius:0.65em; 
-moz-border-bottom-left-radius:0.65em; 
-webkit-border-bottom-left-radius:0.65em; 
text-align: left 

}
img
{
	margin: 1em;
}
.eight-login input[type="submit"]:hover{
	background:#e44848;
}
/**------nineth-login--------**/
.nineth-login
{
	background-color: #D9D9D9;

	padding: 2em;
}
.login-09{
	background: url(../images/bg9.jpg)no-repeat 0px 0px;
	padding: 4em 0;
	background-size: cover;
}
.icon9{
	height:30px;
	width:30px;
	display: block;
	float:left;
	margin:21px 1px 0px 12px;
}
.user9{
	background: url(../images/icon9.png) no-repeat 2px 1px;
	
}
.lock9{
	background: url(../images/icon9.png) no-repeat 4px -33px;
}
.nineth-login input[type="text"],.nineth-login input[type="password"] {
	width:55%;
	padding:1.6em 0.7em 1.6em 1.7em;
	color:#858282;
	font-size:17px;
	outline: none;
	background: none;
	border:none;
	-webkit-appearance: none;
	font-weight:400;
	font-family: 'PT Sans', sans-serif;
	}
.nineth-login input[type="submit"]{
	font-size:25px;
	font-weight:600;
	color: #fff;
	display: inline-block;
	outline: none;
	padding: 1em 4em;
	width:100%;
	font-family: 'PT Sans', sans-serif;
	border:none;
	cursor: pointer;
	-webkit-appearance: none;
	text-align:center;
	background: #323a45;
}
.submit-nine{
	margin-top: 0.7em;
}
.nineth-login input[type="submit"]:hover{
	background:#2AA5AF;
}
.nineth-login form li{
	border: none;
	list-style: none;
	width: 100%;
	background: #fff;
	margin-bottom: 1px;
	border-bottom: 1px solid rgba(238, 238, 238, 0.48);
}
/*******/
.login-10{
	background: url(../images/bg10.jpg)repeat;
	padding:6em 0;
}
.tenth-login {
	background: #f6f8f7;
	text-align: center;
	border-radius: 0.4em;
	-o-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	width: 32%;
	margin: 0 auto;
}
.tenth-login  h4{
	font-size: 1.2em;
	color: #646464;
	font-family: 'PT Sans', sans-serif;
	background: #eee;
	padding: 1.8em 0em;
	border-top-right-radius:0.4em;  
	-o-border-top-right-radius:0.4em;  
	-moz-border-top-right-radius:0.4em;  
	-webkit-border-top-right-radius:0.4em;  
	border-top-left-radius:0.4em; 
	-o-border-top-left-radius:0.4em; 
	-moz-border-top-left-radius:0.4em; 
	-webkit-border-top-left-radius:0.4em;  
}
form.ten {
	padding: 5% 0 7% 0;
}
.fb {
	text-align: center;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	background: #3b5998;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border:none;
	outline:none;
	width:80%;
	margin:0 auto;
}
.fb:hover {
background:#627EAB;
}
.fb a span {
	background: url(../images/icon10.png) no-repeat 2px 1px;
	height: 30px;
	width: 30px;
	display: inline-block;
	float: left;
	margin: 6px 0px 0px 12px;
}
form.ten p{
	font-size: 17px;
	color: #4d4d4d;
	padding: 12px 0 0px 0;
}
.fb lable {
	color: #fff;
	padding: 12px 10px;
	float: left;
	font-size: 17px;
	width: 51%;
	border-left: 1px solid #E0DEDE;
}
.fb:hover{
	background:#335FA4;
}
form.ten li{
	list-style: none;
	width:90%;
	background: #3b5998;
	border:none;
	margin:0 auto;
	border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
}
.icon5{
	height:30px;
	width:30px;
	display: block;
	float: left;
	margin:12px 0px 0px 1px;
}
.face{
	background: url(../images/icons5.png) no-repeat 6px 9px;
	
}
.icon10{
	height:30px;
	width:30px;
	display: block;
	float:left;
	margin:19px 1px 0px 12px;
}
.user10{
	background: url(../images/icon10.png) no-repeat 6px -37px;
	
}
.lock10{
background: url(../images/icon10.png) no-repeat 6px -77px;
}
form.ten li.cream{
	list-style: none;
	width:80%;
	background: #f2f2f2;
	border:none;
	margin: 9px auto;
}
.tenth-login input[type="text"],.tenth-login  input[type="password"] {
	width: 74%;
	padding: 0.8em 0.7em 1em 1em;
	color: #8f9091;
	font-size: 18px;
	outline: none;
	background: none;
	border: none;
	-webkit-appearance: none;
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;
	border-left: 1px solid #fff;
}
.submit-ten{
	margin-top:0.8em;
}
.tenth-login input[type="submit"]{
	font-size:20px;
	font-weight:400;
	color: #fff;
	display: inline-block;
	padding:0.8em 0em;
	width: 80%;
	font-family: 'PT Sans', sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	border: none;
	outline: none;
	background:#4d4d4d;
	-o-border-radius:0.3em;  
	-moz-border-radius:0.3em;  
	-webkit-border-radius:0.3em;  
	border-radius:0.3em;  

}
.tenth-login input[type="submit"]:hover{
 background:#3b5998;
}
/**sixth-login**/
form.three {
	padding: 12% 2.9em;
}
.third-login h1 {
font-size: 1.2em;
color: #fff;
background: #00acec;
padding: 1.4em 0em;
border-top-right-radius: 0.6em;
-o-border-top-right-radius: 0.6em;
-moz-border-top-right-radius: 0.6em;
-webkit-border-top-right-radius: 0.6em;
border-top-left-radius: 0.6em;
-o-border-top-left-radius: 0.6em;
-moz-border-top-left-radius: 0.6em;
-webkit-border-top-left-radius: 0.6em;
text-align:center;
}
.third-login{
	background: #fff;
	border-radius: 0.8em;
	-o-border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
}
.login-03 {
	background: url(../images/bright.png) repeat;
	padding:6em 0;
}
.third-login p {
color: #868686;
font-size: 19px;
padding-bottom: 15px;
}
.icons3{
	height:30px;
	width:30px;
	display: block;
	float: left;
	margin:5px 0px 0px 10px;
}
.user3{
	background: url(../images/icon3.png) no-repeat 0px 5px;
	
}
.lock3{
	background: url(../images/icon3.png) no-repeat 0px -87px;
}
form.three li{
	list-style: none;
background: #f7f7f7;
width: 99%;
margin: 0 auto;
border: 1px solid #D6D0D0;
}
form.three li.base{
	margin-bottom: 10px;
}
.third-login input[type="text"],.third-login input[type="password"] {
width: 80%;
padding: 0.7em 0.7em;
color: #8f9091;
font-size: 15px;
outline: none;
background: #fff;
border: none;
-webkit-appearance: none;
font-weight: 400;
border-left: 1px solid #D8D4D4;
}
.third-login img {
vertical-align: middle;
margin-right: 10px;
}
.submit-three{
	margin-top: 2.3em;
}
.third-login input[type="submit"]{
	font-size:18px;
	font-weight:400;
	color: #fff;
	display: inline-block;
	padding: 0.9em 0.9em;
	width: 100%;
	cursor: pointer;
	-webkit-appearance: none;
	border: none;
	outline: none;
	background: #fdae1f;
	border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;

}
.third-login input[type="submit"]:hover{
background:#00acec;
color: #fff;
}
/****************/
.copy-right {
	text-align: center;
	margin: 2% 0;
}
.copy-right p {
	color: #333;
	font-size: 1.1em;
	font-weight:400;
	font-family: 'PT Sans', sans-serif;
}
.copy-right p a {
	font-size: 1em;
	color:#D65A4E;
}
.copy-right p a:hover {
	color: #555;
}
/*-----start-responsive-design------*/
@media (max-width:1440px){
	.block{
	padding: 1.8em 0em;
	background:url(../images/tips.png) no-repeat 156px 0px #404141;
	}
	.fourth-login input[type="submit"]{
	background: url(../images/tip1.png) no-repeat 156px -1px #eac85d;

	}
	.fourth-login input[type="submit"]:hover{
	background: url(../images/tip1.png) no-repeat 156px -1px #4daf7c;
	}
	.eight-login input[type="submit"] {
	padding:1em 1em;
	width: 97.85%;
	}

}
@media (max-width:1366px){
	.eight-login input[type="submit"] {
	padding:1em 1em;
	width: 97.7%;
	}
	.first-login,.second-login,.fourth-login,.fifth-login,.sixth-login,.seventh-login,.eight-login,.nineth-login,.third-login{
	width: 32%;
	margin:0 auto;
	}
	.block{
	padding: 1.8em 0em;
	background:url(../images/tips.png) no-repeat 160px 0px #404141;
	}
	.fourth-login input[type="submit"]{
	background: url(../images/tip1.png) no-repeat 159px -1px #eac85d;

	}
	.fourth-login input[type="submit"]:hover{
	background: url(../images/tip1.png) no-repeat 159px -1px #4daf7c;
	}
	.third-login input[type="text"],.third-login input[type="password"] {
	width: 81%;
	}
}
@media (max-width:1280px){
	.fifth-login input[type="text"], .fifth-login input[type="password"] {
		width: 81%;
	}
	.fb lable {
	font-size: 17px;
	width: 64%;
	}
	.block {
	padding: 1.8em 0em;
	background: url(../images/tips.png) no-repeat 160px 0px #404141;
	}
	.fourth-login input[type="submit"]{
	background: url(../images/tip1.png) no-repeat 160px -1px #eac85d;

	}
	.fourth-login input[type="submit"]:hover {
	background: url(../images/tip1.png) no-repeat 159px -1px #eac85d;
	}
	.eight-login input[type="submit"] {
	padding: 1em 1em;
	width: 97%;
	}
	.third-login input[type="text"], .third-login input[type="password"] {
	width: 78%;
	}
	.first-login,.second-login,.fourth-login,.fifth-login,.sixth-login,.eight-login,.nineth-login{
	width: 35%;
	margin:0 auto;
	}

}
@media (max-width:1024px){
	.first-login, .second-login, .fourth-login, .fifth-login, .sixth-login, .eight-login, .nineth-login {
	width: 42%;
	margin: 0 auto;
	}
	.seventh-login,.third-login,.tenth-login{
	width:38%;
	margin: 0 auto;
	}
	.login-05 {
	padding:3em 0;
	}
	.third-login input[type="text"], .third-login input[type="password"] {
	width: 76.35%;
	}
	.eight-login input[type="submit"] {
	padding: 1em 1em;
	width: 97.77%;
	}
}
@media (max-width:768px){
	.first-login, .second-login, .fourth-login, .fifth-login, .sixth-login, .eight-login, .nineth-login {
	width: 54%;
	margin: 0 auto;
	}
	.seventh-login, .third-login, .tenth-login {
	width: 50%;
	margin: 0 auto;
	}
	.block {
	padding: 1.6em 0em;
	background: url(../images/tips.png) no-repeat 146px 0px #404141;
	}
	.fourth-login input[type="submit"]{
	background: url(../images/tip1.png) no-repeat 146px -1px #eac85d;

	}
	.fourth-login input[type="submit"]:hover{
	background: url(../images/tip1.png) no-repeat 145px -1px #4daf7c;
	}
	.eight-login input[type="submit"] {
	padding: 1em 1em;
	width: 98.2%;
	}
	.nineth-login input[type="submit"] {
	font-size: 23px;
	padding: 0.95em 4em;
	}
}
@media (max-width:640px){
	.first-login, .second-login, .fourth-login, .fifth-login, .sixth-login, .eight-login, .nineth-login {
	width: 67%;
	margin: 0 auto;
	}
	.seventh-login, .third-login, .tenth-login {
	width: 67%;
	margin: 0 auto;
	}
	.block {
	padding: 1.6em 0em;
	background: url(../images/tips.png) no-repeat 157px 0px #404141;
	}
	.fourth-login input[type="submit"]{
	background: url(../images/tip1.png) no-repeat 157px -1px #eac85d;

	}
	.fourth-login input[type="submit"]:hover {
	background: url(../images/tip1.png) no-repeat 157px -1px #4daf7c;
	}
	.third-login input[type="text"], .third-login input[type="password"] {
	width: 79.35%;
	}
}
@media (max-width:480px){
	.first-login, .second-login, .fourth-login, .fifth-login, .sixth-login, .eight-login, .nineth-login {
	width: 86%;
	margin: 0 auto;
	}
	.seventh-login, .third-login, .tenth-login {
	width: 85%;
	margin: 0 auto;
	}
	.block {
	padding: 1.6em 0em;
	background: url(../images/tips.png) no-repeat 142px 0px #404141;
	}
	.fourth-login input[type="submit"] {
	background: url(../images/tip1.png) no-repeat 144px -1px #eac85d;
	}
	.fourth-login input[type="submit"]:hover {
	background: url(../images/tip1.png) no-repeat 144px -1px #4daf7c;
	}
	.eight-login input[type="submit"] {
	padding: 1em 1em;
	width: 99.5%;
	}
	.third-login input[type="submit"] {
	padding: 0.7em 0.7em;
	}
	.login-08 {
	padding:3em 0;
	}
	.seventh-login{
	width: 76%;
	margin: 0 auto;
	}
	.seventh-login input[type=text], .seventh-login input[type=password] {
	float: left;
	width: 71%;
	}
	.third-login input[type="text"], .third-login input[type="password"] {
	width: 77.35%;
	}
	.login-10 {
	padding: 4em 0;
	}
}
@media (max-width:320px){
	.first-login,.fourth-login, .fifth-login, .sixth-login, .eight-login, .nineth-login {
	width:85%;
	margin: 0 auto;
	}
	.fifth-login input[type="text"], .fifth-login input[type="password"] {
	width: 73%;
	font-size:15px;
	}
	.login-05 {
	padding: 2em 0;
	}
	form.six {
	padding: 14% 0.9em;
	}
	.sixth-login input[type="text"], .dark-o input[type="password"] {
	font-size:15px;
	width: 67%;
	}
	.seventh-login, .third-login, .tenth-login {
	width: 92%;
	margin: 0 auto;
	}
	.fb lable {
	font-size: 15px;
	width: 71%;
	padding: 10px 10px;
	}
	.submit-three {
	margin-top: 1.3em;
	}
	.tenth-login h4 {
	font-size: 1.2em;
	padding: 1em 0em;
	}
	.tenth-login input[type="text"], .tenth-login input[type="password"] {
	width: 60%;
	padding: 0.7em 0.6em;
	font-size: 16px;
	}
	.tenth-login input[type="submit"] {
	font-size: 17px;
	padding: 0.6em 0em;
	width: 80%;
	}
	.login-10 {
	padding: 3em 0;
	}
	.icons6 {
	margin: -1px 0px 0px 1px;
	}
	.second-login input[type="submit"] {
	font-size: 16px;
	padding: 0.8em 5em;
	}
	form.four {
	padding: 13% 0.9em;
	}
	.green {
	padding: 1.4em 0em;
	}
	.fourth-login input[type="text"],.fourth-login input[type="password"] {
	font-size: 17px;
	}
	.block {
	padding: 1.6em 0em;
	background: url(../images/tips.png) no-repeat 107px 0px #404141;
	}
	.fourth-login input[type="submit"] {
	background: url(../images/tip1.png) no-repeat 107px -1px #eac85d;
	padding: 0.8em 1em;
	font-size:25px;
	}
	.fourth-login input[type="submit"]:hover {
	background: url(../images/tip1.png) no-repeat 107px -1px #4daf7c;
	}
	.eight-login input[type=text],.eight-login input[type=password] {
	width: 81%;
	font-size: 16px;
	}
	.seventh-login{
	width: 60%;
	margin: 0 auto;
	}
	 .third-login{
	 width: 90%;
	margin: 0 auto;
	 }
	.seventh-login input[type=text], .seventh-login input[type=password] {
	float: left;
	width: 66%;
	font-size: 14px;
	padding: 0.6em 0.6em;
	}
	.seventh-login h3 {
	font-size: 1.2em;
	}
	.seventh-login input[type="submit"] {
	font-size: 20px;
	padding: 0.4em 0.4em;
	}
	.login-07 {
	padding: 3em 0;
	}
	.login-08 {
	padding: 2em 0;
	}
	.icon8 {
	margin: 15px 23px 3px 8px;
	}
	.login-03 {
	padding: 3em 0;
	}
	.third-login p {
	font-size: 15px;
	padding-bottom: 10px;
	}
	form.three {
	padding: 6% 1.9em;
	}
	.third-login input[type="text"], .third-login input[type="password"] {
	width: 70.35%;
	}
	.third-login input[type="text"], .third-login input[type="password"] {
	font-size: 15px;
	}
	.icons3 {
	margin: 2px 0px 0px 10px;
	}
	.nineth-login input[type="text"], .nineth-login input[type="password"] {
	width: 55%;
	padding: 1em 1.6em;
	color: #858282;
	font-size: 17px;
	}
	.copy-right p {
	color: #333;
	font-size: 0.95em;
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;
	line-height: 1.7em;
	}
	.nineth-login input[type="submit"] {
	font-size: 23px;
	padding: 0.8em 4em;
	}
	.seventh-login {
	padding: 2em 2em 2em 2em;
	}
	.first-login,.second-login{
	width: 100%;
	}
	form.two {
	padding: 2% 2.9em;
	}
	.third-login h1 {
	font-size: 1.1em;
	padding: 1em 0em;
	}
	.first-login input[type="submit"] {
	padding: 1em 4em;
	}
	.first-login input[type="text"], .first-login input[type="password"] {
	padding: 1.1em 0.7em 1.1em 0.7em;
	}
	.first-login input[type="submit"] {
	padding: 0.9em 4em;
	background: url(../images/icons.png) no-repeat 20px -88px #e67469;
	}
	.first-login input[type="submit"]:hover {
	padding: 0.9em 4em;
	background: url(../images/icons.png) no-repeat 20px -88px #D65A4E;
	}
	.icon {
	margin: 16px 1px 0px 12px;
	}
	.submit {
	margin-top: 0.8em;
	}
	.first-login form {
	padding: 5% 1em;
	}
}
.forgot-password
{
	font-size: 0.8em;
	margin: 2em 0 0 0;
	text-align: right;
}
.forgot-password:hover
{
	text-decoration: underline;
}
.logo
{
	text-align: center;
}
.logo img
{
	width: 20%;
}